:root{
  --primary-color: #6e07f3;
  --secondary-color: #f0f0f0;
  --tertiary-color: #141c3a;
  --quaternary-color: #5be9b9;
}

html,
body {
  overscroll-behavior-x: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cl_WholeContainer {
  /* position: relative; */
  /* margin: 0;
  padding: 0; */
}

.cl_navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  /* border-bottom: 1px solid #6e07f3; */
}

.cl_logo {
  height: 6rem;
  width: 6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.2rem;   /* increase this */
  font-weight: 700;
  color: var(--primary-color);
}


.cl_navItems {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.cl_navItems li:hover {
  color: var(--primary-color);
}

.cl_navItems1, .cl_navItems2, .cl_navItems3, .cl_navItems4 {
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s;
}

.cl_landing{
  text-align: center;
  /* height: 100vh; */
  /* background-color: var(--primary-color); */
  /* color: var(--primary-color); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cl_hero-title {
  font-size: 2.5rem;
  margin: 1rem 0 0.5rem 0;
  /* color: var(--primary-color); */
}

.cl_hero-subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 3rem;
}

.cl_profileImg {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  margin-top: 3rem;
}

.cl_illustrateImage {
  height: 20rem;
  width: auto;
  margin-top: 3rem;
}

.cl_intro{
  background-color: var(--primary-color);
  /* border: 1px solid var(--primary-color); */
  padding-top: 1px;
  z-index: 1;
  /* position: relative; */
}

.cl_intro-Title{
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 4rem 0 .5rem 0;
  font-weight: 500;
} 

.cl_intro-para{
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 21rem 0 21rem;
  font-weight: 500;
}

.cl_intro-para2{
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 21rem 10rem 21rem;
  font-weight: 500;
}

.cl_experiance{
  background-color: var(--secondary-color);
  margin: auto;
  width: 90%;
  height: 10rem;
  position: relative;
  transform: translateY(-8rem);
  z-index: 2;
  font-size: 1.5rem;
  font-weight: 500;
}

.cl_experiance-Title{
  display: block;
  padding: 0;
  text-align: center;
  padding: 4rem 0 .5rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.cl_experiance-paraSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
} 


.cl_experiance-para{
  margin: 0;
  padding: 0;
  margin-right: 2rem;
  /* text-align: center; */
  font-size: 1rem;
}

.cl_experiance-ul{
  margin: 0;
  padding: 0;
  list-style-type: disc;
  font-size: 1rem;
  text-align: left;
}

.cl_contact{
  width: 90%;
  background-color: var(--tertiary-color);
  padding: 4rem 0;
  text-align: center;
  color: white;
  position: relative;
  transform: translateY(6rem);
  border-radius: 25px ;
  display: flex;

  margin: auto;
  font-size: 1.5rem;
  font-weight: 500;
}

.cl_contact-Title{
  margin: 0;
  padding: 0;
  margin: auto;
  text-align: center;
  /* font-size: 1rem; */
}

.cl_contact-para{
  margin: 0;
  padding: 0;
  margin: auto;
  /* text-align: center; */
  font-size: 1rem;
}

.cl_contact-btn{
  margin: auto;
  padding: 0.8rem 2rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cl_contact-btn:hover{
  background-color: var(--quaternary-color);
  color: var(--tertiary-color)
}

.cl_contact a{
  color: var(--quaternary-color);
  text-decoration: none;
}

.cl_contact a:hover{
  text-decoration: underline;
}

.cl_contact-email{
  margin-top: 1rem;
  font-size: 1.2rem;
}

.cl_footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10rem 0 5rem 0;
  text-align: center;
  color: white;
  font-weight: 500;
}

.cl_footer-Title{
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.cl_footer-para{
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
}

.cl_socialIcons{
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem; 
}


.cl_socialIconRef {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.cl_linkedin, .cl_github, .cl_envelope {
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s;
  background-color: var(--primary-color);
  border-radius: 50%;
  border: 1px solid white;
  padding: 0.5rem;
}

.cl_linkedin:hover {
  color: #0A66C2; /* LinkedIn blue */
  background-color: white;
}

.cl_github:hover {
  color: #333; /* GitHub black */
  background-color: white;
}

.cl_envelope:hover {
  color: #D44638; /* Gmail red */
  background-color: white;
}


